<script type="text/x-handlebars-template" id="template">
    <nav class="navbar navbar-inverse navbar-fixed-bottom" role="navigation">
        <div class="navbar-header" style="width: 100%; background-color: #428bca; color: white;">
            <button type="button" class="navbar-toggle" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Social Media</a>
            <span>
                <span style="float:left;">
                    <ul class="nav navbar-nav">
                        <li><a></a></li>
                        <li><a></a></li>
                        <li class="active"><a href="#"><span class="glyphicon glyphicon-th" aria-hidden="true"></span></a></li>
                        <li><a href=""><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span></a></li>
                        <li><a href=""><i class="fa fa-users"></i></a></li>
                    </ul>
                </span>

                <span style="float:right;">
                    <div id="searchBarNav" class="input-group custom-search-form" style="float:left; width: 350px">
                        <input type="text" class="form-control" placeholder="Search Social Media...">
                      <span class="input-group-btn">
                      <button class="btn btn-default" type="button">
                          <span class="glyphicon glyphicon-search" style="padding: 0px"></span>
                      </button>
                     </span>
                            </div><!-- /input-group -->
                    <div id="notifications" style="float:right" class="nav navbar-nav">
                        <ul class="nav navbar-nav navbar-right">
                            <li class="dropdown" style="margin: 0; padding: 0;">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-bell-o"></i> 3 Notifications</a>
                                <ul id="login-dp" class="dropdown-menu">
                                    <li>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <ul id="notificationUL">
                                                    <li>Hello</li>
                                                    <li>Hello</li>
                                                    <li>Hello</li>
                                                    <li>Hello</li>
                                                    <li>Hello</li>
                                                    <li>Hello</li>
                                                    <li>Hello</li>
                                                    <li>Hello</li>
                                                    <li>Hello</li>
                                                </ul>
                                            </div>
                                            <div class="bottom text-center">
                                                <span class="glyphicon glyphicon-search" aria-hidden="true"></span> View Old Notifications
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </span>
            </span>

        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1" style="color: black">

        </div>
        <!-- /.navbar-collapse -->
    </nav>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-3 col-md-2 sidebar">
                <ul class="nav nav-sidebar">
                    <li>
                                <span style="float:left; padding-left: 25px; padding-right: 15px;">
                                    <a href="/profile"><img id="user_imageSidebar" src="{{user_image}}" height="50px" width="50px"/></a>
                                </span>
                                <span>
                                    <a href="/profile"><span id="user_fullnameSidebar">{{fullName}}</span></a>
                                    <br>
                                        <small><a href="/editprofile">Edit Profile</a></small>
                                    </small>
                                </span>
                    </li>
                </ul>
                <!--<ul class="nav nav-sidebar" style="padding-left: 25px">
                    <a href="/logout">
                        <button class="btn btn-warning">Logout</button>
                    </a>
                    <a href="/settings">
                        <button class="btn btn-info">Settings</button>
                    </a>
                </ul>-->
                <hr>
                <ul class="nav nav-sidebar">
                    <li class="active"><a href="/dashboard"><span class="glyphicon glyphicon-th"
                                                                  aria-hidden="true"></span> Dashboard <span
                            class="sr-only">(current)</span></a></li>
                    <li><a href="/messages"><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
                        Messages</a></li>
                    <li><a href="/contacts"><span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                        Contacts</a></li>
                    <li><a href="/events"><span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>
                        Events</a></li>
                </ul>
                <hr>
                <ul class="nav nav-sidebar">
                    <li><a href="/images"><span class="glyphicon glyphicon-camera" aria-hidden="true"></span> Images</a>
                    </li>
                    <li><a href="/videos"><span class="glyphicon glyphicon-facetime-video" aria-hidden="true"></span>
                        Videos</a></li>
                    <li><a href="/facebook"><i class="fa fa-facebook"></i>
                        Facebook</a></li>
                    <li><a href="/twitter"><i class="fa fa-twitter"></i>
                        Twitter</a></li>
                    <li><a href="/Instagram"><i class="fa fa-instagram"></i>
                        Instagram</a></li>
                </ul>
                <hr>
                <div class="nav nav-sidebar">
                    <div id="sidebarAdvertisement">

                    </div>
                </div>
            </div>


            <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
                            <span id="content_Dashboard">
                                {{selectedContent}}
                            </span>
            </div>
        </div>
    </div>
</script>